<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Display an owl</title>
    </head>
    <body>
        <h2>Info for this owl:</h2>
        <h4>Name: <%= owl.name %></h4>
        <h4>ID #: <%= owl._id %></h4>
        <h4>Age: <%= owl.age %></h4>
        <h4>Type: <%= owl.type %></h4>
        <a href="/">Back to list</a>
    </body>
</html>
