<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add an owl</title>
    </head>
    <body>
        <form action="/owls" method="post">
            Name: <input type="text" name="name"><br>
            Age: <input type="text" name="age"><br>
            Type: <input type="text" name="type"><br>
            <input type="submit" value="Add this owl!">
        </form>
    </body>
</html>
