<html>
<body>
    <h2>Submitted Information:</h2>
    <h4>Name: <%= data.name%></h4>
    <h4>Dojo Location: <%= data.location%></h4>
    <h4>Favorite Language: <%= data.language%></h4>
    <h4>Comments: <%= data.comments%></h4>
    <a href="/"><button>Go Back</button></a>
</body>
</html>
