div {
  display: inline-block;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.display {
  width: 250px;
}

app-actions {
  display: inline-block;
  margin: 10px 30px;
}

.actions {
  text-align: center;
  width: 800px;
}

.log {
  width: 800px;
}
