<html>
    <body>
        <h2>Counter:</h2>
        <h4>Viewed <%= count %> times.</h4>
        <form action="/add_two" method="post"><input type="submit" value="Add Two!"></form>
        <form action="/clear" method="post"><input type="submit" value="Clear Counter!"></form>
    </body>
</html>
